<% include header %>
<% include table %>
<div class="container">
  <form class="form-group" action="/" method="post">
    <label for="">firstname</label>
    <input type="text" name="firstname" value="firstname">
    <label for="">lastname</label>
    <input type="text" name="lastname" value="lastname">
    <label for="">phone</label>
    <input type="text" name="phone" value="phone">
    <input type="submit" value="submit">
  </form>
</div>
<% include footer %>
