<form action="/" method="post">
<br>
  <label>first_name</label>
  <input type="text" name="fname">
  <label>last_name</label>
  <input type="text" name="lname">
  <label>phone</label>
  <input type="text" name="phone">
  <input type="submit" value="Submit">
</form>
